<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Standard NuGet source first -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Fallback to other sources -->
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="SkylineCommunications" value="https://www.nuget.org/profiles/SkylineCommunications" />
    <add key="SkylineCommunications GitHub" value="https://nuget.pkg.github.com/SkylineCommunications/index.json" />
    <add key="SkylinePrivate" value="https://pkgs.dev.azure.com/skyline-cloud/_packaging/skyline-private-nugets/nuget/v3/index.json" />
  </packageSources>
</configuration>
